name: 构建二进制文件
on: [push]
jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os:
                  - macos-latest
                  - ubuntu-latest
                  - windows-latest
                  - ubuntu-24.04-arm
                    # [
                    #     macos-latest,
                    #     ubuntu-latest,
                    #     windows-latest,
                    #     ubuntu-24.04-arm,
                    # ]
        runs-on: ${{ matrix.os }}
        env:
            PYTHONIOENCODING: utf-8
            # 默认安装到全局python环境
            # UV_SYSTEM_PYTHON: 1
            NUITKA_CACHE_DIR: ~/_temp/nuitka/cache
        steps:
            - name: 检出仓库代码
              uses: actions/checkout@v4
            - name: 安装 uv
              uses: astral-sh/setup-uv@v5
              with:
                  enable-cache: true

            # - name: 安装 Python
            #   uses: actions/setup-python@v3
            - name: 使用 uv 安装 Python
              run: uv python install

            - name: 安装 pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: latest
                  run_install: false
            - name: 设置 Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: latest
                  cache: "pnpm"
                  cache-dependency-path: web/pnpm-lock.yaml
            # - name: 安装Nuitka
            #   run: uv tool install nuitka

            - name: 缓存 Nuitka
              uses: actions/cache@v3
              with:
                  path: ${{ env.NUITKA_CACHE_DIR }}
                  key: nuitka-cache-${{ runner.os }}-${{ runner.arch }}-${{ github.sha }}
                  restore-keys: |
                      nuitka-cache-${{ runner.os }}-${{ runner.arch }}-

            - name: 安装后端依赖
              working-directory: client
              run: uv sync
            - name: 安装 Linux 额外依赖
              if: matrix.os == 'ubuntu-latest' || matrix.os == 'ubuntu-24.04-arm'
              working-directory: client
              run: |
                  sudo apt-get update
                  sudo apt-get install -y ccache libxml2
                  uv remove pywebview
                  uv add pywebview[pyside6]
            - name: 安装 MacOS 额外依赖
              if: matrix.os == 'macos-latest'
              working-directory: client
              run: |
                  uv add pyobjc
            - name: 安装前端依赖
              working-directory: web
              run: pnpm install

            # - name: 构建前端
            #   working-directory: web
            #   run: pnpm build
            - name: 构建二进制文件
              working-directory: client
              run: uv run build.py
              # run: nuitka --onefile app.py --include-data-dir=../web/dist=dist --output-dir=nuitka_dist --remove-output --assume-yes-for-downloads

            - name: 上传构建产物
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ runner.os }}-${{ runner.arch }}
                  path: |
                      client/nuitka_dist/
                  include-hidden-files: true
            - name: 显示目录树
              if: matrix.os == 'ubuntu-latest'
              run: tree
